body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* UserNav Styling */
.user-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


/* MainNav Styling */
.main-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* RecipesManager Styling */
.recipes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 55px;
}

.more-action-buttons-wrapper {
  display: flex;
  justify-content: center;
}


/* SingleRecipe Styling */
.recipe-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin: 10px 10px 20px;
}

.recipe-image-wrap {
  width: 330px;
  height: 335px;
}

.recipe-image {
  width: 100%;
}

.recipe-title {
  text-align: center;
  color:#053B73;
  font-family: "Naive line sans black",sans-serif;
  text-transform: uppercase;
}

/* ShoppingManager Styling */
.shopping-manager-wrapper {
  width: 100%;
  height: 385px;
  margin-bottom: 55px;
}

.shopping-card {
  position: relative;
}

.carousel-arrow-forward {
  position: absolute;
  right: 5px;
  top: 45%;
  z-index: 999;
}

.carousel-arrow-backward {
  position: absolute;
  left: 5px;
  top: 45%;
}

.shopping-card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #003975;
  border-color: #fff;
  height: 325px;
  z-index: 9;
}


/* Books Styling */

/* Delis Styling */

/* NewsletterBanner Styling */

/* Footer Styling */


/* Global Styling */
.action-button {
  border: 2px solid black;
  height: 52px;
  width: 215px;
  font-size: 16px;
}
.action-button:first-child {
  margin-right: 15px;
}
.action-button:hover {
  background-color: #053B73;
  color: #fff;
}

.clickable {
  cursor: pointer;
}
