body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* UserNav Styling */
.user-nav-wrapper {
  margin-bottom: 55px;
}

.user-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.user-nav-list-item {
  width: 100px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Naive line sans black", sans-serif;
  font-size: 1.14286em;
}

.user-nav-list-item:hover {
  color: #003975;
}

.list-item-account{
  margin-right: 10px;
}

/* MainNav Styling */
.main-nav-wrapper {
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none
}

.list-item-logo {
  width: 40%;
  text-align: center;
}


/* RecipesManager Styling */
.recipes-manager-wrapper {
  margin-bottom: 55px;
}

.recipes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}


.more-action-buttons-wrapper {
  display: flex;
  justify-content: center;
}


/* SingleRecipe Styling */
.recipe-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin: 10px 10px 20px;
}

.recipe-image-wrap {
  width: 330px;
  height: 335px;
}

.recipe-image-wrap .hover-image-text-wrapper {
  position: relative;
  bottom: 105px;
  left: 55px;
  visibility: hidden;
  border-top: 2px solid #053B73;
  border-right: 2px solid #053B73;
  border-left: 2px solid #053B73;
  width: 200px;
  text-align: center;
  background-color: white;
}

.recipe-image-wrap:hover .hover-image-text-wrapper {
  visibility:visible;
}

.recipe-image {
  width: 100%;
}

.recipe-title {
  text-align: center;
  color:#053B73;
  font-family: "Naive line sans black",sans-serif;
  text-transform: uppercase;
}

/* ShoppingManager Styling */
.shopping-manager-wrapper {
  width: 100%;
  height: 385px;
  margin-bottom: 55px;
}

.shopping-card {
  position: relative;
}

.carousel-arrow-forward {
  position: absolute;
  right: 5px;
  top: 45%;
  z-index: 999;
}

.carousel-arrow-backward {
  position: absolute;
  left: 5px;
  top: 45%;
}

.shopping-card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #003975;
  border-color: #fff;
  height: 325px;
  z-index: 9;
}


/* Books Styling */

/* Delis Styling */

/* NewsletterBanner Styling */

/* Footer Styling */


/* Global Styling */
.action-button {
  border: 2px solid black;
  height: 52px;
  width: 215px;
  font-size: 16px;
}
.action-button:first-child {
  margin-right: 15px;
}
.action-button:hover {
  background-color: #053B73;
  color: #fff;
}

.clickable {
  cursor: pointer;
}
